.header-div{
    display:flex;
    padding:16px;
    justify-content: space-between;
    border-bottom: 0.6px solid rgb(234, 234, 234);
    border-top: 0.6px solid rgb(234, 234, 234);
}
.header-title{
    font-size:16px;
    color:rgb(33,33,33);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    display: flex;
    align-items: center;
}

.header-btn{
    font-size:14px;
    color: rgb(40, 116, 240);
    font-family:"Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    padding:8px 16px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 2px;
}
.content-div{
    padding:8px 0px 8px 0px;
}