.slider {
position: relative;
margin: 0;
/* width: 100%; */
}

.slider__swiper {
display: flex;
overflow-x: scroll;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider__swiper::-webkit-scrollbar {
display: none;
}

.slider__carousel-img {
flex-shrink: 0;
object-fit: cover;
padding: 5px;
}