.pmu-div{
    width:100%;
    flex-basis: auto;
    border:0px solid black;
}
.pmu-content-div{
    display: flex;
    width:100%;
}
.single-product-div{
    width:65%;
    padding:8px;
    border-right: 0.6px solid rgb(234, 234, 234);
}
.double-product-div{
    width:35%;
}
.product-sm{
    height:50%;
    border-bottom: 0.6px solid rgb(234, 234, 234);
}
