.summary__companyName{
    padding-bottom: 6px;
    font-size: 14px;
    color: rgba(33,33,33,1.00);
}

.summary__productName{
    font-size: 16px;
    color: rgb(135, 135, 135);
}

.summary__priceDetails{
    padding: 8px 0px;
    height: 40px;
}

.summary__priceDetails > div{
    display: inline;
    font-weight: bold;
}

.summary__price{
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.summary__price ~ div{
    font-size: 14px;
} 

.summary__mrp{
    margin-left: 8px;
    color: rgb(135, 135, 135);
    text-decoration-line: line-through;
}

.summary__discount{
    margin-left: 6px;
    color: rgb(0, 140, 0);
}

.summary__delivery{
    font-size: 14px;
    line-height: 16px;
}

.summary__rate-ratings{
    margin: 5px 0px 8px 0px;
}

.summary__rate-ratings div{
    display: inline;
}

.summary__rate{
    background-color:rgba(0,140,0,1.00);
    border-radius: 10px;
    padding-left: 2px;
}

.summary__value{
    color: white;
    font-size: 14px;
    padding: 5px;
}

.summary__ratings{
    font-size: 14px;
    color: #878787;
    padding: 0 8px;
    font-weight: bold;
}

.summary__f-assured-img{
    width: 61px;
    height: 16px;
    vertical-align: middle;
}
