.details{
    padding: 8px 16px 24px 16px;
}

.details div{
    font-family: Roboto, sans-serif;
}

#companyName{
    padding-bottom: 4px;
    font-size: 14px;
    color: rgba(33,33,33,1.00);
}

#productName{
    font-size: 16px;
    color: rgb(135, 135, 135);
}

#priceDetails{
    padding: 8px 0px;
    height: 29px;
}

#priceDetails > div{
    display: inline;
}

#price{
    font-size: 22px;
    color: rgb(0, 0, 0);
}

#price ~ div{
    font-size: 14px;
} 

#mrp{
    margin-left: 8px;
    color: rgb(135, 135, 135);
    text-decoration-line: line-through;
}

#discount{
    margin-left: 6px;
    color: rgb(0, 140, 0);
}

#fixed{
    height: 18px;
    display: flex;
}

#fixed > div{
    display: inline;
}

#f-assured-img{
    width: 61px;
    height: 16px;
    margin-right: 8px;
}

#delivery{
    font-size: 14px;
    line-height: 16px;
}