.header{
display: grid;
height:8vh;
background-color: #2974F0;
grid-template-columns: 8fr 19fr 12fr 8fr 8fr 15fr;
}

.header > div {
display: flex;
align-items: center;
justify-content: center;
}

.header__login {
color: white;
font-family: Arial, Helvetica, sans-serif;
}