.search-box-div{
    width:100%;
    height:38px;
    display: flex;
    align-items:center;
    background-color: rgb(255, 255, 255);
}
.search-placeholder{
   font-size:14px;
   color: rgb(135, 135, 135);
   font-family: Roboto, Helvetica, Arial, sans-serif;
}

.search-icon{
    height:14px;
    width:14px;
    margin: 0 2%;
}
